
* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url(img2/back.png);
   background-size: 100%;
   position: relative;
   background-position: center;
}

.topmenu li {
   display: inline-block;
}

.topmenu a {
   font-family:'Montserrat', sans-serif;
   text-decoration: none;
   color: black;
   display: block;
   color: white;
   text-align: center;
   border-radius: 20px 20px 0px 0px;
   padding: 10px;
   font-size: 16px;
   margin-left: 10px;
   padding-block: 25px;

}
.topmenu a:hover {
   background: rgba(0, 0, 0, 0.116);
   
}

.topmenu {
   overflow: hidden;
   position: relative;
   background-color: rgba(0,0,0,0.25);
   position: fixed;
   top: 0;
   width: 100%;
   border-radius: 0px 0px 45px 45px;
   text-align: center;
}

img {
   margin-right: 6px;
   width: 23px;
   
}

.telekom {
   margin-right: -0.1px;
   width: 18px;
}

.myacc {
   width: 30px;
}

.home {
   width: 26px;
}

.todos {
   width: 24px;
}

.team {
   width: 28px;
}

.docs {
   width: 23px;
}

.faq {
   width: 25px;
}





.navbar img{
   width: 150px;
   margin-left: 45%;
   margin-top: 100px;
}

.navbar h1{
   margin-left: 45%;
   color: white;
}

#divl{
   background-color: #71052C;
   width: 500px;
   height: 350px;
   float: left;
   margin-left: 420;
   margin-top: 35px;
}

#divl p{
   color: white;
   text-align: center;
   padding-top: 30%;
   font-size: 40px;
}

#divr{
   background-color: #71052C;
   width: 600px;
   height: 350px;
   float: right;
   margin-right: 400px;
   margin-top: 35px;
}

#divr p{
   color: white;
   font-size: 18;
   margin-left: 30%;
   margin-top: 20;
}

#divr1{
   background-color: rgb(255, 255, 255);
   width: 300;
   height: 40;
   font-size: 30;
   text-align: center;
   margin-left: 30%;
   margin-bottom: 15;
   border-radius: 0px 20px 0px 20px;
}

#divul{
   background-color: #71052C;
   width: 500px;
   height: 230px;
   float: left;
   margin-left: 420;
   margin-top: 30px;
}

#divul p{
   color: white;
   text-align: center;
   padding-top: 20%;
   font-size: 40px;
}

#divur{
   background-color: #71052C;
   width: 600px;
   height: 230px;
   float: right;
   margin-right: 400px;
   margin-top: 30px;
}

ion-icon{
   font-size: 45px;
   color: #7E0530;
   padding: 2px;
   margin-left: 5px;
}

#google{
   background-color: rgb(255, 255, 255);
   width: 210px;
   height: 50px;
   float: left;
   margin-left: 60px;
   margin-top: 50px;
   border-radius: 10px 10px 10px 10px;
}

#google p{
   font-size: 30;
   color: #7E0530;
   float: right;
   margin-right: 40px;
   margin-top: 6;
}

#card{
   background-color: rgb(255, 255, 255);
   width: 210px;
   height: 50px;
   float: left;
   margin-left: 50px;
   margin-top: 50px;
   border-radius: 10px 10px 10px 10px;
}

#card p{
   font-size: 28;
   color: #7E0530;
   float: right;
   margin-right: 18px;
   margin-top: 8;
}

#apple{
   background-color: rgb(255, 255, 255);
   width: 210px;
   height: 50px;
   float: left;
   margin-left: 60px;
   margin-top: 30px;
   border-radius: 10px 10px 10px 10px;
}

#apple p{
   font-size: 30;
   color: #7E0530;
   float: right;
   margin-right: 50px;
   margin-top: 6;
}

#paypal{
   background-color: rgb(255, 255, 255);
   width: 210px;
   height: 50px;
   float: left;
   margin-left: 50px;
   margin-top: 30px;
   border-radius: 10px 10px 10px 10px;
}

#paypal p{
   font-size: 30;
   color: #7E0530;
   float: right;
   margin-right: 50px;
   margin-top: 6;
}

.header1 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 150px;
}

p {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}