.center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #525255;
    border-radius: 10px;
    margin-left: 350px;
    margin-right: 350px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headline {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 20px;
}

*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  .hero{
    width: 100%;
   
    background:#1111;
    color:#525255;
  }
  
  nav{
    background: #e91e63;
    width: 100%;
    padding: 4vh 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 12vh;
  }
  
  .logo {
    width:auto;
    height:8vh;
    filter:brightness(100);
  }
  
  .profil-picture{
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
  }
  
  nav ul{
    width:100%;
    text-align:left;
  }
  
  nav ul li{
    display:inline-block;
    list-style:none;
    margin: 10px 15px;
    margin-left: 30px;
  }
  
  nav ul li a{
    color:white;
    text-decoration:none;
    font-size: larger;
  }
  

.back {
    background-color: #525255;
    border-radius: 10px;
    margin-left: 350px;
    margin-right: 350px;
}  

.btn_1 {
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #e91e63;
}