
body {
   font-family: 'Montserrat', sans-serif;
   color: white;
   background-image: url(../img/img2/back.png);
   background-size: 100%;
   background-position: center;
  }


.p_1 {
text-align: center;
font-size: 70px;
font-weight: 400;
line-height: 3px;
padding: 50px;
margin-top: -15px;
margin-bottom: 10px;
color: #FFFFFF;
text-shadow: 4px 6px 5px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: center ;
}

.group {
   padding-bottom: 25px;
   padding-left: 36px;
   
}

.label_1 {
font-size: 16px;
color: #FFFFFF;
font-weight: 200;
text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);

}

.input_1 {
margin-top: 4px;
width: 314px;
height: 41px;
background: #F9F9F9;
box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.25);
border-radius: 0px 20px;
border: none;
font-size: 18px;

}

.button_1 {
cursor: pointer;
width: 150px;
height: 28px;
border: none;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
background: #F9F9F9;
box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.25);
border-radius: 0px 15px;
color: rgb(78, 13, 13);
display: flex;
justify-content: center;

}

.button_1:hover {
   transform: scale(1.1);
   background-color: #d6d6d6;
}
.acc {
   font-family: 'Montserrat', sans-serif;
   font-size: 12px;
   text-align: center;
   text-decoration: none;
   color: #FFFFFF;
   margin-right: 5px;
}

.p2 {
   margin-top: -120px;
}

.p3 {
   font-family: 'Montserrat', sans-serif;
   font-size: 11px;
   margin-top: -65px;
   line-height: 1.3;
   text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
   width: 300px;
   text-align: center;
}

.input_1:hover {
   background-color: #d6d6d6;
}

font {
   color: rgb(255, 104, 104);
}

svg.b1 {
   float: left;
   position: fixed;
}
svg.b2 {
   float: right;
   position: relative;;
}



* {
   margin: 0;
   padding: 0;
}

.topmenu li {
   display: inline-block;
}

.topmenu a {
   font-family:'Montserrat', sans-serif;
   text-decoration: none;
   color: black;
   display: block;
   color: white;
   text-align: center;
   border-radius: 40px 40px 0px 0px;
   padding: 10px;
   font-size: 16px;
   margin-left: 10px;
   padding-block: 25px;

}
.topmenu a:hover {
   background: rgba(0, 0, 0, 0.116);
   
}

.topmenu {
   overflow: hidden;
   background-color: rgba(0,0,0,0.25);
   position: fixed;
   top: 0;
   width: 100%;
   border-radius: 0px 0px 45px 45px;
   text-align: center;
}

img {
   margin-right: 6px;
   width: 23px;
   
}

.telekom {
   margin-right: -0.1px;
   width: 18px;
}

.myacc {
   width: 30px;
}

.home {
   width: 26px;
}

.todos {
   width: 24px;
}

.team {
   width: 28px;
}

.docs {
   width: 23px;
}

.faq {
   width: 25px;
}


.login-container {
   top: 50%;
   left: 50%;
   transform: translate(50%, 50%);
   background: linear-gradient(137.35deg, rgba(131, 0, 47, 0.7) -9.26%, rgba(68, 0, 25, 0.7) 111.3%);
   width: 390px;
   height: 450px;
   padding: 30px;
   border-radius: 0px 55px;
}