.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(252, 52, 218);
    display: flex;
    justify-content: center;


}

input {
    border-radius: 10px;
    font-size: 20px;
    justify-content: center;
    display: flex;
    width: 470px;
    height: 45px;
}

.center {
    display: flex;
    justify-content: center;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.email_input {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.passwort_input {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.frame_1 {
    background-color: rgb(92, 86, 86);
    margin-left: 470px;
    margin-right: 250px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.center_btn1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    background-color: rgb(224, 70, 199);
    border: none;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

body {
    background-image: "hintergrund.jpg";
    width: 510px;
    height: 450;
}