p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

input {
    width: 220px;
    height: 30px;
    border-radius: 10px;
}

.newuserinputs {
    display: flex;
    justify-content: center;
}
.center_input {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(152,151,151);
    
}

.frame_newuser {
    background-color: rgb(152,151,151);
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.center_btn1 {
    
    margin-top: 15px;
    width: 160px;
    height: 30px;
    border-radius: 20px;
    margin-left: 150px;
    margin-bottom: 10px;
    
}

.center_1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  .hero{
    width: 100%;
    min-height: 100vh;
    background:#1111;
    color:#525255;
  }
  
  nav{
    background: #e91e63;
    width: 100%;
    padding: 4vh 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 12vh;
  }
  
  .logo {
    width:auto;
    height:8vh;
    filter:brightness(100);
  }
  
  .profil-picture{
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
  }
  
  nav ul{
    width:100%;
    text-align:left;
  }
  
  nav ul li{
    display:inline-block;
    list-style:none;
    margin: 10px 15px;
    margin-left: 30px;
  }
  
  nav ul li a{
    color:white;
    text-decoration:none;
    font-size: larger;
  }
  
